<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started</h2>
                    <h3 class="section-subheading text-muted">Follow these steps to get set up, then check out the event ideas below.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1:</h4>
                                    <h4 class="subheading">Set Up a Website</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Follow <a href='https://github.com/billsTestOrg/studyGroup#study-groups'>these instructions</a> to set up a free website, message board
                                    and chat room for your study group. Stuck? <a href='mailto:bill@mozillafoundation.org'>Ask for help</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2:</h4>
                                    <h4 class="subheading">Get On The Map</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Get in touch with the Mozilla Science Lab on <a href='https://twitter.com/MozillaScience'>Twitter</a>, the <a href='http://forum.mozillascience.org/'>forum</a>, or by <a href='mailto:bill@mozillafoundation.org'>email</a> to let us know you're starting a study group, and we'll put you on the <a href='https://github.com/mozillascience/studyGroupLessons/blob/master/whereWeAre.geojson'>map</a> & let everyone know.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3:</h4>
                                    <h4 class="subheading">Get the Word Out</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Check out our <a href=''>guide</a> to letting everyone know about your new study group.</p>
                                </div>
                            </div>
                        </li>
                        <li class='timeline-inverted'>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4:</h4>
                                    <h4 class="subheading">Throw an Event!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You're all set up - time to meet new friends & colleagues and work together. Check out our event ideas & how-tos below.</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
